@import url(estilos.css);

.headerDerecha{
    width: min-content;
}

.containerGridPerfil{
    background-color: red;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 280px;
    margin: 0 auto;
    padding-top: 70px;
    grid-area: 'contenidoPerfil sidebarPerfilDerecha ';
    gap: 20px;
}

.linkedinPerfil{
    width: 100%;
    background-color: #f4f2ee;
}

.contenidoPerfil{
    /* background-color: green; */
    grid-area: "contenidoPerfil";
    height: 350px;
    width: 100%;
}

.perfilinfor__fotoPortada{
    width: 100%;
    min-height: 10%;
}

.sidebarPerfilDerecha{
    grid-area: "sidebarPerfilDerecha";
}

.personasConozcas{
    width: 100%;
    padding: 20px;
    height: max-content;
    background-color: #ffffff;
    color: #5f5f5f;
}

.tituloPersonasConozcas{
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 15px;
}

.personasConozcas__persona{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}

.personasConozcas__foto{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 8px;
}

.personasConozcas__ocupacion{
    font-size: 13px;
}

.personasConozcas__boton{
    display: flex;
    margin-left: 42px;
    text-decoration: none;
    border: solid #5f5f5f 1px;
    width: 100px;
    border-radius: 15px;
    font-size: 12px;
    height: 27px;
    align-items: center;
    justify-content: center;
    color: #5f5f5f;
}

.personasConozcas__nombre{
    font-weight: 500;
}
